main{
  height: 100vh;
}


.content {
  display: flex;
  flex-direction: column;
}

nav{
  flex: 1;
}

.container {
  flex: 1;
  display: flex;
}

.my-list {
  flex: 1;
}

.list-item-component {
  flex: 2;
}