<div class="list-group">
  <button (click)="requestAddObject()">Add Object</button>
  @for (Recipe of RecipesList; track $index) {
  <div class="list-group-item">
    <div class="header">
      <div class="Recipe-name">
        <p>{{ Recipe.name }}</p>
      </div>
      <div class="buttons">
        <button (click)="Recipe.id !== undefined && requestDeleteObject(Recipe.id)">
          Delete Object
        </button>
        <button
          (click)="isInMyList(Recipe)
              ? Recipe.id !== undefined && removeRecipeFromMyList(Recipe.id)
              : requestRecipeToMyList(Recipe)">
          {{ isInMyList(Recipe) ? "Remove from My List" : "Add to My List" }}
        </button>
      </div>
    </div>
    <div class="description">
      <p>{{ Recipe.description }}</p>
    </div>
  </div>
  }
</div>
